In [1]:
import pandas as pd
import numpy as np

In [2]:
df_games = pd.read_csv("Data/Raw_Data/games.csv", sep=",")
df_indies = pd.read_csv("Data/Raw_Data/indie-games-developers.csv", sep=",")
df_studios = pd.read_csv("Data/Raw_Data/video-games-developers.csv", sep=",")
df_countries = pd.read_csv("Data/Raw_Data/Country-data.csv", sep=",")
df_cities = pd.read_csv("Data/Raw_Data/worldcities.csv", sep=",")

In [ ]:
# For games, we keep the following columns only
df_games = df_games[['AppID', 'Name', 'Release date', 'Estimated owners',
'Required age', 'Price', 'DLCcount', 'About the game',
'Supported languages','Windows','Mac', 'Linux', 'Metacritic score', 'User score',
'Positive', 'Negative', 'Achievements','Average playtime forever',
'Developers','Categories', 'Genres', 'Tags']]

# Cleaning Supported languages column
df_games['Supported languages'] = df_games['Supported languages'].str.replace("'", '').str.replace("[", '').str.replace("]", '')

# Checking for the Primary Key
print(df_games.duplicated(subset=['AppID'], keep=False).sum())

df_games.head(2)

0

,AppID,Name,Release date,Estimated owners,Required age,Price,DLCcount,About the game,Supported languages,Windows,...,Metacritic score,User score,Positive,Negative,Achievements,Average playtime forever,Developers,Categories,Genres,Tags
0,20200,Galactic Bowling,"Oct 21, 2008",0 - 20000,0,19.99,0,Galactic Bowling is an exaggerated and stylize...,English,True,...,0,0,6,11,30,0,Perpetual FX Creative,"Single-player,Multi-player,Steam Achievements,...","Casual,Indie,Sports","Indie,Casual,Sports,Bowling"
1,655370,Train Bandit,"Oct 12, 2017",0 - 20000,0,0.99,0,THE LAW!! Looks to be a showdown atop a train....,"English, French, Italian, German, Spanish - Sp...",True,...,0,0,53,5,12,0,Rusty Moyher,"Single-player,Steam Achievements,Full controll...","Action,Indie","Indie,Action,Pixel Graphics,2D,Retro,Arcade,Sc..."

In [4]:
# Checking for the Primary Key
print(df_countries.duplicated(subset=['country'], keep=False).sum())

df_countries.head(2)

0

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090

In [5]:
# Checking for the Primary Key
print(df_cities.duplicated(subset=['id'], keep=False).sum())

df_cities.head(2)

0

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.687,139.7495,Japan,JP,JPN,Tōkyō,primary,37785000.0,1392685764
1,Jakarta,Jakarta,-6.175,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077

In [6]:
# Checking for the Primary Key
print(df_indies.duplicated(subset=['Developer'], keep=False).sum())

# Dropping the duplicated rows
df_indies.drop_duplicates(subset=['Developer'], inplace=True)

# Checking for the Primary Key
print(df_indies.duplicated(subset=['Developer'], keep=False).sum())

df_indies.head(2)

2
0

,Developer,City,Autonomous area,Country,Notable games,Notes
0,11 bit studios,Warsaw,NaN,Poland,AnomalyThis War of MineFrostpunk,NaN
1,ACE Team,Santiago,Santiago,Chile,Zeno ClashRock of Ages,NaN

In [7]:
# Checking for the Primary Key
print(df_studios.duplicated(subset=['Developer'], keep=False).sum())

df_studios.head(2)

0

,Developer,City,Administrative division,Country,Est.,"Notable games, series or franchises",Notes
0,0verflow,Tokyo,NaN,Japan,1997,School DaysSummer DaysCross Days,Visual Novel brand (both developer and publisher)
1,11 bit studios,Warsaw,Masovian Voivodeship,Poland,2010,Frostpunk,Indie developer/publisher

In [ ]:
# Checking Foreign Key between game and studios & indies

# We drop the rows with missing values for Developers
df_games.dropna(subset=['Developers'], inplace=True)

print(df_games['Developers'].unique().shape)

# We keep only the rows with developers that are in studios or indies. Definition of the foreign key.
df_games = df_games[df_games.Developers.isin(pd.concat([df_studios.Developer,df_indies.Developer]))]

(64655,)

In [14]:
# Creating mutliple tables from games dataset
df_games.to_csv('Data/Clean_Data/games.csv', index=False)

# Name infos:
df_games[['AppID', 'Name']].to_csv('Data/Clean_Data/game_names.csv', index=False)

# Release infos:
df_games[['AppID', 'Release date','Required age', 'Price', 'DLCcount','Supported languages','Windows','Mac', 'Linux','Achievements','Categories', 'Genres', 'Tags']].to_csv('Data/Clean_Data/game_release.csv', index=False)

# Description infos:
df_games[['AppID', 'About the game']].to_csv('Data/Clean_Data/game_descriptions.csv', index=False)

# Stats infos:
df_games[['AppID', 'Estimated owners','Metacritic score', 'User score', 'Positive', 'Negative', 'Average playtime forever']].to_csv('Data/Clean_Data/game_stats.csv', index=False)

# Developers infos:
df_games[['AppID', 'Developers']].to_csv('Data/Clean_Data/game_developers.csv', index=False)